@font-face {
  font-family: "SF UI Display";
  src:         url("../fonts/sf-ui-display/SF-UI-Display-Regular.otf") format('opentype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: "SF UI Display";
  src:         url("../fonts/sf-ui-display/SF-UI-Display-Medium.otf") format('opentype');
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: "SF UI Display";
  src:         url("../fonts/sf-ui-display/SF-UI-Display-Semibold.otf") format('opentype');
  font-weight: 600;
  font-style:  normal;
}

@font-face {
  font-family: "Roboto";
  src:         url("../fonts/roboto/Roboto-Regular.ttf") format('opentype');
  font-weight: 400;
  font-style:  normal;
}